.content{
  
  a {
    display: block;
    transition: all 0.3s;

    & + a {
      margin-top: 48px;
    }

    &:hover{
      opacity: .8;
      border-left:5px solid var(--text-highlight-color);
      padding-left: 10px;
    }
  }
  
  h1 {
    color: var(--text-title-color);
    font-size: 28px;
    margin-bottom: 0.4rem;
    font-weight: 700;
  }
  
  .postSubtitle {
    color: var(--text-subtitle-color);
    font-size: 18px;
    margin-bottom: 24px;
  }

  .postInfos {
    color: var(--text-info-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
  }

  .postDate {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 24px;

    svg {
      margin-right: 0.4rem;
    }

    p{
      font-size: 0.9rem;
    }
  }

  .postAuthor {
    display: flex;
    justify-content: center;
    align-items: end;

    svg {
      margin-right: 0.4rem;
    }

    p{
      font-size: 0.9rem;
    }
  }

  button {
    color: var(--text-highlight-color);
    border: none;
    background: none;
    font-weight: 600;
    font-size: 18px;
    margin-top: 64px;

    &:hover{
      opacity: 0.8;
    }
  }
}
